body {
  background-color: #071930;
  color: white;
  font-size: 1.4em;
}

#wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#App {
  max-width: 1200px;
}

#card {
  position: absolute;
  width: 360px;
  height: 360px;
  cursor: pointer;
  will-change: transform, opacity;
  border-radius: 4%;
  border: white solid 1px;
  margin: 0px;
  padding: 0px;
}

#cardContainer {
  width: 360px;
  height: 360px;
  margin: 2%;
}

@media screen and (min-width: 550px) {
  #cardContainer {
    width: 500px;
    height: 500px;
  }
  #card {
    width: 500px;
    height: 500px;
  }
}
